body
    background: #f2f3f9
    font-family: "Roboto"
    color: #55677d
    font-size: 14px

a
    color: #55677d

a:hover
    color: #55677d    

h4
    font-size: 14px
    color: #3f536e

h3
    font-size: 15px

h2
    font-size: 18px

h1
    font-size: 24px

p
    color: #000

.dropdown-divider
    margin-top: 0px

label.required:after
    content: '*'
    color: red
    margin-left: 0.25rem
            

    

