<div class="top-bar">
    <div class="container">
        <div class="row navbar-dark py-2">
            <div class="col-2 text-center">
                <span class="navbar-brand">Logo</span>
            </div>
        </div>
    </div>
</div>

<main class="container my-5">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 mx-auto sing-form">
            <nav class="nav nav-tabs nav-fill my-2">
                <a class="nav-item nav-link" [routerLink]="[ '/login']" routerLinkActive="active">Sing In</a>
                <a class="nav-item nav-link" [routerLink]="[ '/register']" routerLinkActive="active">Sing Up</a>
            </nav>
            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>
