.wrapper
    background: #a1a1a1
    min-height: 100vh
    overflow: hidden
    
.rooms_panel
    width: 1140px
    background: white
    margin: 0px auto 10px
    display: flex
    flex-flow: row
    flex-wrap: nowrap
    height: 600px
    
    .left_bar
        flex: 0 0 50px
        background: #ebf0f2
        transition: flex-basis .25s
        position: relative

        button
            width: 175px
            padding: 8px 0px
            text-align: left
            border: 0px
            background-color: transparent

            i
                width: 50px
                text-align: center

            &:focus
                outline: none

        .list-rooms.list-left-bar
            height: 216px

        .list-left-bar
            overflow-y: scroll
            overflow-x: hidden
            direction: rtl
            width: 500px

            &::-webkit-scrollbar
                width: 3px
            &::-webkit-scrollbar-track
                background: #ebf0f2
            &::-webkit-scrollbar-thumb
                background: #888
            &::-webkit-scrollbar-thumb:hover
                background: #555

            .item-list-left-bar
                direction: ltr
                display: block
                padding: 7px 0px
                border-top: 1px solid #ebf0f2
                border-bottom: 1px solid #ebf0f2
                height: 36px
                
                img
                    margin: 0px 15px 0 12px

            .item-list-left-bar.active
                background: #f5f5f5
                border-top: 1px solid #c4c4c4
                border-bottom: 1px solid #c4c4c4

            .item-list-left-bar:hover
                background: #f9f9f9
        
        .live
            .list-left-bar
                height: 216px

            button
                background: #ebf0f2
                display: none
            
            button.show
                display: block
            
            button.active
                color: red

            span
                font-size: 9px
                color: red
                width: 50px
                text-align: center
                display: block
                
        .links 
            position: absolute
            bottom: 0px
            
            a
                border-top: 1px solid #ebf0f2
                border-bottom: 1px solid #ebf0f2
                padding: 7px 0px
                width: 175px
                display: block

                i
                    border-radius: 50%
                    width: 24px
                    padding: 5px 0px
                    margin: 0px 13px
                    text-align: center
                    background-color: #2bbbad
                    color: #fff
                    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
                    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)

                &:hover
                    background: #f9f9f9

    main
        flex: 1 1 100%
        position: relative
        
