<div class="wrapper">
    <div class="rooms_panel">
        <div class="left_bar overflow-hidden">
            <button (click)="expandMenu()"><i class="fa fa-bars" aria-hidden="true"></i>
                Menu
            </button>
            <nav class="list-left-bar list-rooms mb-4">
                <a *ngFor="let room of roomService.rooms" [routerLink]="['/room', room.roomId]"
                    routerLinkActive="active" class="item-list-left-bar">
                    <img src="{{Environment.remoteUrl + '/' + room.avatar}}" class="rounded-circle" height="20"
                        width="20" alt="">
                    {{room.title}}
                </a>
            </nav>
            <div class="live_users" *ngIf="roomService.lives.length > 0">
                <span><i class="fas fa-circle"></i></span>
                <nav class="list-left-bar">
                    <a *ngFor="let live of roomService.lives" (click)="connectToLive($event, live.id)"
                        class="item-list-left-bar">
                        <img src="{{ Environment.remoteUrl + '/' + live.avatar}}" class="rounded-circle" height="20"
                            width="20" alt="">
                        {{live.fname}} {{live.lname}}
                    </a>
                </nav>
            </div>
            <div class="links">
                <a [routerLink]="['/room']">
                    <i class="fa fa-plus" aria-hidden="true"></i> Create new room
                </a>
                <a [routerLink]="['/']">
                    <i class="fa fa-angle-left" aria-hidden="true"></i> Back to main
                </a>
            </div>
        </div>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
