<form [formGroup]="account.registerFormModel" (submit)="onSubmit()" autocomplete="off">
    <div class="form-row">
        <div class="col">
            <!-- First name -->
            <div class="md-form">
                <input type="text" class="form-control" id="fname" formControlName="Fname">
                <label for="fname" class="">First name</label>
            </div>
        </div>
        <div class="col">
            <!-- Last name -->
            <div class="md-form">
                <input type="text" class="form-control" id="lname" formControlName="Lname">
                <label for="lname" class="">Last name</label>
            </div>
        </div>
        <div class="col">
            <!-- Last name -->
            <div class="md-form">
                <input type="text" class="form-control" id="mname" formControlName="Mname">
                <label for="mname" class="">Middle name</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-5">
            <label for="birthday" class="">Birthday</label>
            <input type="date" class="form-control" id="birthday" formControlName="Birthday">
        </div>
        <div class="col-6 offset-1">
            <label>Sex</label>
            <div class="btn-group-toggle d-block">
                <label class="btn btn-default" [class.active]="account.registerFormModel.get('Sex').value == 1">
                    <input formControlName="Sex" type="radio" name="Sex" id="sexMale" autocomplete="off" value="1">
                    Male
                </label>
                <label class="btn btn-default" [class.active]="account.registerFormModel.get('Sex').value == 2">
                    <input formControlName="Sex" type="radio" name="Sex" id="sexFemale" autocomplete="off" value="2">
                    Female
                </label>
            </div>
        </div>
    </div>
    <!-- E-mail -->
    <div class="md-form">
        <input type="email" class="form-control" id="email" formControlName="Email">
        <label for="email">E-mail</label>
    </div>

    <!-- Passwords -->
    <div formGroupName="Passwords">
        <!-- Password -->
        <div class="md-form">
            <input type="password" class="form-control" id="password" formControlName="Password">
            <label for="password">Password</label>
        </div>

        <!-- Confirm password -->
        <div class="md-form">
            <input type="password" class="form-control" id="password_c" formControlName="PasswordConfirm">
            <label for="password_c">Confirm password</label>
        </div>
    </div>
    <!-- Sign up button -->
    <div class="text-center">
        <input type="submit" class="btn btn-primary my-4 waves-effect" [disabled]="account.registerFormModel.invalid"
            value="Sing Up">
    </div>
</form>