.card
    margin-bottom: 20px
    
.card-body
    padding: 20px 25px

    > a
        top: 20px
        right: 25px
        text-decoration: underline
        &:hover
            text-decoration: none